*{
    padding:0;
    margin:0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../img/Fundo.png'); 
    background-size: cover; 
    background-position: center; 
    margin: 0;
}

.logo {
    position: fixed;
    top:0;
    left:0;
    margin-top:-3%;
    margin-left:-5%
}

.logo a:hover img {
    transform: translateY(-8px);
    transition: transform 0.2s;
}

form {
    position: relative;
    background: rgba(59, 59, 63, 0.70); /* cor branca com transparência */
    padding: 32px 24px;
    border-radius: 20px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.08);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 400px;
}



h2 {
    margin-bottom: 24px;
    color: #333;
}

label {
    align-self: flex-start;
    margin-bottom: 4px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}


input {
width: 100%;
padding: 8px;
margin-bottom: 16px;
border-radius: 4px;
font-size: 15px;
box-sizing: border-box;
background-color: rgba(199, 199, 199, 0);
border: none;
border-bottom: 2px solid #958c7c;
font-weight: bold;
color:white;
}


input {
 outline: none;
 font-weight: bold;
}

select:focus {
 outline: none;
 font-weight: bold;
background-color: rgb(41, 38, 38);
}

select {
width: 100%;
padding: 8px;
margin-bottom: 16px;
border-radius: 4px;
font-size: 15px;
box-sizing: border-box;
background-color: rgba(199, 199, 199, 0);
border: none;
border-bottom: 2px solid #958c7c;
font-weight: bold;
color: #ffffff;            
}


button {
    width: 100%;
    padding: 10px;
    background: #0a0a0a;
    color: #fff;
    border: none;
    border-radius: 40px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 8px;
    transition:  0.2s;
    
}

a {
  text-decoration: none; /* Remove o sublinhado */
  color: inherit;       /* Mantém a cor do texto do elemento pai */
}

button:hover {
    background: #ff6600;
}

