
.navbar {
  background-color: #000;
  color: #fff;
  padding: 0.4rem 1rem; /* reduzido na vertical */
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  width: 100vga;
}


nav a:hover {
    background-color: white;
    color: black;
}

/* Estilização do ícone do menu*/
.menu-icon {
  cursor: pointer;
  padding: 0.5rem;
}

.menu-icon .bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
  transition: 0.4s;
}

/* Estilização da barra de pesquisa */
.search-bar {
  flex-grow: 1;
  margin-left: 1rem;
 
}

.search-bar input {
  width: 80%;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  padding-left: 20px; 
  border: none;
  border-radius: 15px;
  background-color: #333;
  color: #fff;
}



.search-bar input::placeholder {
  color: #ccc;
}

.navbar .logo {
    position: sticky;
    z-index: 100;
    margin-top: 20px;
}

/* Estilização da Sidebar */
.sidebar {
  height: 100%;
  width: 0; /* Largura inicial zero, escondida */
  position: fixed;
  top: 0;
  left: 0;
  background-color: #222;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index: 999;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 1.2rem;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar li a:hover {
  color: #f1f1f1;
  background-color: #555;
}

.close-btn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  cursor: pointer;
  color: #fff;
}

/* Quando a sidebar estiver aberta */
.sidebar.open {
  width: 250px;
}

.lbottom {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    border: 1px solid #ffffff;
    padding: 5px 10px;
    list-style: none;
    transition: 0.3s;
}

.Perfil a:hover {
    background-color: white;
    color: black;
}

.Perfil {
    margin: 20px 20px 20px 20px;
    display: flex;
    align-items: center;

}

.profile-icon {
    width: 62px;
    height: 62px;
    object-fit: cover;
}
